# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# TensorFlow / Keras temporary files
*.pyc

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env